.artillery
.claude
.clinic
.dockerignore
.DS_Store
.env
.git
.github
.gitignore
.husky
.vscode
adr-files
coverage
databases
docker-compose.yml
Dockerfile
eslint.config.mjs
LICENSE
mocks
nginx
node_modules
README.md
references.txt
tmp
ToDo.md
vitest.config.js
**/*.md
**/*.spec.js
**/*.test.js
openapi.json
