{
    "extends": [
        "airbnb-base",
        "plugin:jest/recommended",
        "plugin:security/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 13
    },
    "plugins": [
        "jest",
        "security"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "indent": [
            2,
            4
        ]
    }
}