{
    "extends": [
        "airbnb-base",
        "plugin:security/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "plugins": [
        "security"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "indent": [
            2,
            4
        ],
        "no-return-await": "off"
    }
}