<configuration>
    <appSettings>
        <add key="APPINSIGHTS" value="./settings/applicationInsights.json" />
        <add key="BITLY" value="./settings/bitly.json" />
        <add key="DATABASE" value="./databases/ghost.db" />
        <add key="DOMAIN" value="http://api.destiny-ghost.com" />
        <add key="PORT" value="80" />
        <add key="TWILIO" value="./settings/twilio.json" />
        <add key="VIRTUALPATH" value="/dg" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="api">
                    <match url="api/*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
                <!-- iisnode debugging support -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^app.js\/debug[\/]?" />
                </rule>
                <rule name="signIn">
                    <match url="signIn" />
                    <action type="Rewrite" url="signIn.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
