<configuration>
    <appSettings>
        <add key="DATABASE" value="./databases/" />
        <add key="PORT" value="80" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="api">
                    <match url="api/*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
                <!-- iisnode debugging support -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^app.js\/debug[\/]?" />
                </rule>
                <rule name="signIn">
                    <match url="signIn" />
                    <action type="Rewrite" url="signIn.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
